@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes puff-in {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes slide {
  from {
    transform: translate3d(100vw, 0, 0);
  }
  to {
    transform: translate3d(calc(0vw - 100%), 0, 0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-30vh);
  }
  to {
    opacity: 1;
    transform: translateY(150%);
  }
}
