.city-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #000;
  overflow: hidden;
  border-radius: 5px;
}

.city-item__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.city-item__thumbnail,
.city-item__thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-item__header {
  font-family: var(--highlight-font);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 15px;
  color: var(--highlight-text);
  line-height: 1.5;
}

.city-item__header > h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.city-item__header > h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

@media (any-hover: hover) {
  .city-item__thumbnail,
  .city-item__header {
    transition: opacity 0.3s ease-in-out;
  }

  .city-item:hover .city-item__thumbnail {
    opacity: 1;
  }

  .city-item:hover .city-item__header {
    opacity: 0;
  }
}
