.footer {
  display: flex;
  background: var(--lighter-bg);
  width: 100%;
  margin-top: 100px;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
}

.footer__pages {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 2;
  gap: 10px;
  font-size: 0.8rem;
}

.footer__pages > li {
  text-align: center;
}

.footer__logo {
  text-align: center;
}

.footer__logo-image {
  width: 150px;
  margin-top: 30px;
}

.footer__slogan {
  padding-top: 1.2rem;
  margin-top: 1.2rem;
  border-top: 2px solid var(--text);
  font-size: 1.6em;
}

.footer__copyright {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  line-height: 1.7;
  border-top: 1px solid var(--text);
}
