.gnb {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(48, 48, 48, 0.8);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  backdrop-filter: blur(8px) saturate(180%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.gnb__container {
  display: flex;
  height: 100%;
  align-items: center;
  width: clamp(0px, 100%, 1120px);
  margin: 0 auto;
}

.gnb__logo,
.gnb__add-post,
.gnb__profile-image {
  flex-shrink: 0;
}

.gnb__expand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gnb__expand:last-child {
  justify-content: flex-end;
}

.gnb_container > div {
  height: 40px;
}

.gnb__logo img {
  height: 40px;
}

.search--gnb {
  width: clamp(0px, 300px, 100%);
  margin: 0 auto;
  padding: 0 10px;
  flex-shrink: 10;
}

.search__input--gnb {
  width: 100%;
  padding: 0 20px;
  height: 40px;
  background-color: var(--lighter-bg);
  border-radius: 35px;
  font-size: 0.8rem;
  background-color: #c4c4c4;
  color: #121212;
}

.search__input--gnb::placeholder {
  color: rgba(58, 58, 58, 0.6);
}

.gnb__add-post {
  font-size: 24px;
  line-height: 40px;
}

.gnb__profile-image {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--lightest-bg);
}

.gnb__profile-image.signed-out {
  width: auto;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.gnb__profile-image.signed-out > a {
  display: inline-block;
  padding: 8px 15px;
  color: #3a3a3a;
}

.gnb__profile-image img {
  display: block;
  width: 100%;
  height: 100%;
}
