.header {
  background: #303030;
  height: 70px;
  display: flex;
  justify-content: flex-start;
}

.header > div {
  height: 50px;
  margin: 10px 0;
  background: #c4c4c4;
}

.header .header__logo {
  min-width: 115px;
  margin-left: 30px;
}

.header .header__search {
  width: 400px;
  margin-left: 50px;
}

.header .header__profile-image {
  min-width: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 30px;
}

.footer__pages a,
.footer__policy a {
  color: #fff;
  line-height: 1.6em;
}

.footer {
  background: #121212;
  width: 100vw;
  min-height: 200px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: 200px;
  padding: 100px 0 50px 0;
}

.footer .footer__logo-image {
  width: 200px;
}

.footer .footer__hr {
  width: 108px;
  margin: 25px 0;
  border: 1px solid #fff;
}

.footer .footer__slogan {
  color: #c4c4c4;
  font-size: 1.6em;
}
