.grid-container {
  display: grid;
  width: clamp(0px, 100%, 1140px);
  margin: 0 auto;
  padding: 0 10px;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 860px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
