.header {
  font-family: var(--highlight-font);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.header__title {
  font-size: 2rem;
  line-height: 1.7;
  text-align: center;
}

.header__title > div:first-child {
  font-size: 1.1rem;
}

.header__title > div:last-child span:first-child {
  color: var(--highlight-text);
}

.header__title .highlight {
  color: var(--primary);
}

@media (max-width: 768px) {
  .header__title {
    font-size: 1.5rem;
  }
  .header__title > div:first-child {
    font-size: 0.9rem;
  }
}
