.masonry-container {
  position: relative;
  display: grid;
  width: clamp(0px, 100%, 1140px);
  gap: 20px;
  padding: 0 10px;
  margin: 0 auto;
}

.masonry-container .loader {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 100%, 0);
}

@media screen and (min-width: 600px) {
  .masonry-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 860px) {
  .masonry-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
