.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
  background-color: var(--text);
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  color: var(--dark-text);
  font-size: 12px;
}

.modal__title {
  text-align: center;
}

.modal__title > div {
  padding: 15px;
}

.modal__title > div:nth-child(1) {
  font-weight: 700;
  font-size: 20px;
}

.modal__button {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.modal__button > button {
  margin-left: 10px;
  height: 30px;
  width: 100%;
  border: 1px solid var(--lightest-bg);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px var(--lightest-bg);
}

.modal__button > button:nth-child(2) {
  background-color: var(--dark);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-30vh);
  }
  to {
    opacity: 1;
    transform: translateY(150%);
  }
}
