.small-container {
  max-width: 880px;
  margin: 3rem auto 0 auto;
  padding: 0 10px;
}

.details__info {
  display: flex;
  font-size: 1.2rem;
}

.details__rate {
  margin-right: auto;
}

.details__title {
  margin: 1rem 0;
  font-size: 2rem;
  line-height: 1.7;
}

.details__author {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.details__author > img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.details__desc {
  line-height: 1.7;
}
.details__title,
.details__desc {
  border-bottom: 2px solid var(--bg);
}

.details__title--editing,
.details__desc--editing {
  border-color: var(--primary);
}
