.post-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #000;
  overflow: hidden;
  border-radius: 5px;
}

.post-item__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

.post-item__thumbnail,
.post-item__thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-item__header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 80px 10px 10px 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  color: var(--highlight-text);
}

.post-item__title {
  line-height: 1.7;
  font-size: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 15px;
}

.post-item__info {
  line-height: 1.7;
}

@media (any-hover: hover) {
  .post-item__header {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .post-item:hover .post-item__header {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
}
