.sign-in {
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  padding: 10px 10px 100px 10px;
  flex-direction: column;
  align-items: center;
}

.sign-in__logo {
  width: clamp(0px, 300px, 80%);
}

.sign-in__container {
  margin-top: 5rem;
  padding: 40px 20px;
  text-align: center;
  border: 2px solid var(--lightest-bg);
  border-radius: 5px;
}

.sign-in__title {
  font-size: 2rem;
}

.sign-in__info {
  margin: 3.5rem 0;
  font-size: 1.2rem;
}

.sign-in__button {
  display: inline-flex;
  height: 40px;
  padding: 4px 8px 4px 0;
  align-items: center;
  border-radius: 4px;
  background-color: #4285f4;
  color: var(--highlight-text);
}

.sign-in__button > img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.sign-in__button > span {
  font-size: 14px;
}
