.container {
  width: clamp(0px, 100%, 860px);
  margin: 45px auto;
}

.image-form {
  width: 100%;
  padding: 16px;
  text-align: center;
}

.image-content {
  width: 100%;
}

.image-content__preview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 200px;
  background-color: var(--lightest-bg);
  padding: 12px;
  margin-bottom: 32px;
  border-radius: 4px;
}

.image-content__preview--hidden {
  display: none;
}

.image-upload__gps {
  width: 100%;
  color: var(--text);
  background-color: var(--lightest-bg);
  border-radius: 4px;
  margin-bottom: 32px;
}

.image-upload__input {
  width: 100%;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.image-content__label {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  line-height: 360px;
  background-color: var(--lightest-bg);
  color: var(--text);
  text-align: center;
  margin-bottom: 32px;
  border-radius: 4px;
}

.image-content__label--hovered {
  background-color: var(--hover-bg);
}

.image-content__input {
  position: absolute;
  width: 0;
  height: 0;
}

.image-content__text {
  font-size: 20px;
}

.image-content__info {
  margin-bottom: 32px;
}

.image-content__title {
  width: 100%;
  background-color: var(--lightest-bg);
  color: var(--text);
  font-size: 20px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
}

.image-content__desc {
  width: 100%;
  resize: vertical;
  background-color: var(--lightest-bg);
  color: var(--text);
  font-size: 20px;
  padding: 16px;
  border-radius: 4px;
}

.image-content__init {
  position: absolute;
  font-size: 16px;
}

.image-content__submit {
  cursor: pointer;
  width: 80px;
  border-radius: 4px;
  padding: 16px;
  font-size: 20px;
  background-color: var(--lightest-bg);
  color: var(--text);
}

input::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.grid-div {
  display: inline-block;
  width: 100%;
  margin: 8px;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.grid-div__image {
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
}

.embed-image {
  width: 100%;
  height: 256px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.image-content__init {
  opacity: 0;
}
