.nav {
  width: clamp(0px, 100%, 1140px);
  margin: 0 auto;
  padding: 10px;
}

.nav__items {
  display: flex;
  padding: 30px 0;
  justify-content: center;
  background-color: var(--lighter-bg);
  border-radius: 5px;
}

.nav__item {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.nav__item > i {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 16px;
  transform: translate3d(-50%, 10px, 0);
  opacity: 0;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.nav__item.highlight {
  border-color: var(--primary);
  transform: translate3d(0, 10px, 0);
}

.nav__item.highlight > i {
  transform: translate3d(-50%, -20px, 0);
  opacity: 1;
}

.nav__photo {
  display: block;
  width: 180px;
  height: 180px;
  margin: 100px 0;
  border-radius: 50%;
  overflow: hidden;
}

.nav__photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.settings {
  width: clamp(0px, 100%, 1140px);
  margin: 0 auto;
  padding: 10px;
}

.settings > .masonry-container {
  padding: 10px;
  border-radius: 5px;
}

.settings > .masonry-container[style] {
  background-color: var(--lighter-bg);
}

/* User Page - Comment */
.comment-list {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-bottom: 10px;
  padding: 30px;
  background-color: var(--lighter-bg);
  border-radius: 5px;
}

.comment-list__img > img {
  object-fit: cover;
}

.comment-list__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.comment-list__content > div {
  display: flex;
  font-size: 13px;
}

.comment-list__comment {
  margin-bottom: 30px;
}

.comment-list__title {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.comment-list__title > p {
  padding-right: 5px;
}

.comment-list__title > a {
  color: var(--primary);
  text-decoration: underline;
}

.comment-list__del {
  width: 50px;
  height: 25px;
  background-color: var(--primary);
  border-radius: 5px;
  font-weight: 700;
}
